- content_for :breadcrumbs do
  = render Shared::BreadcrumbsComponent.new(links: [{ name: t("horses.index.title"), href: horses_path },
    { name: raw(horse.name), href: "#" }], actions: [{ name: "edit", link: edit_horse_path(horse),
    i18n_key: "common.edit", user: current_user, object: horse,
    base_classes: "btn btn-light btn-sm border border-success text-success text-decoration-none",
    classes: "ms-3 me-3", responsive_classes: "w-100", type: :link }])

.name
  %strong= Horse.human_attribute_name(:name)
  = raw(@horse.name) # rubocop:disable Rails/OutputSafely

.status
  %strong= Horse.human_attribute_name(:status)
  = @horse.status

