= simple_form_for user, html: { class: "user form" } do |f|
  - if user.errors.any?
    .error-message
      = user.errors.full_messages.to_sentence.capitalize

  = f.input :username, input_html: { autofocus: true }
  = f.input :email
  = f.input :name
  - unless user.persisted?
    = f.input :password
    = f.input :password_confirmation
  = link_to t('forms.cancel'), users_path, class: "button is-light"
  = f.submit class: "button is-primary"
