%header
  -# Sidebar
  %nav.collapse.d-lg-block.sidebar.collapse.bg-white#sidebar-menu
    .position-sticky
      .list-group.list-group-flush.mx-3.mt-4
        = link_to stables_path, class: ["list-group-item list-group-item-action py-2 ripple", nav_link_class(stables_path)], aria: { current: nav_link_active?(stables_path) } do
          %i.fas.fa-tractor.fa-fw.me-3
          %span= t('.stables')
        = link_to horses_path, class: ["list-group-item list-group-item-action py-2 ripple", nav_link_class(horses_path)], aria: { current: nav_link_active?(horses_path) } do
          %i.fas.fa-horse-head.me-3
          %span= t('.all_horses')
        = link_to "https://www.finalfurlong.org/", class: "list-group-item list-group-item-action py-2 ripple", aria: { current: false } do
          %i.fas.fa-house.me-3
          %span= t('.main_app')
  -# Navbar
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top#main-navbar
    -# Container
    .container-fluid
      -# Toggle button
      %button.navbar-toggler{ type: "button", data: { 'bs-toggle' => 'collapse', 'bs-target' => '#sidebar-menu' }, aria: { controls: 'sidabar-menu', expanded: false, label: 'Toggle navigation' } }
        %i.fas.fas-bars
      -# Brand
      %a.navbar-brand{ href: '#' } Final Furlong
      -# Right links
      %ul.navbar-nav.ms-auto.d-flex.flex-row
        %form.d-flex{ role: "search" }
          %input.form-control.me-2{ type: "search", disabled: true, placeholder: t('.search_placeholder'), aria: { label: t('.search_aria_label') } }

        -# Avatar
        - if user_signed_in?
          -# Notification dropdown
          %li.nav-item.dropdown
            %a.nav-link.me-3.me-lg-0.dropdown-toggle.hidden-arrow#navbar-dropdown-menu-link{ href: '#', role: 'button', data: { 'bs-toggle' => 'dropdown' }, aria: { expanded: false } }
              %i.fas.fa-bell
              -# %span.badge.rounded-pill.badge-notification.bg-danger= 1
            %ul.dropdown-menu.dropdown-menu-end{ area: { labelledby: 'navbar-dropdown-menu-link' } }
              %li
                %a.dropdown-item{ href: '#' }= "Alerts"
              %li
                %a.dropdown-item{ href: '#' }= "Will go"
              %li
                %a.dropdown-item{ href: '#' }= "Here"
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle.hidden-arrow.d-flex.align-items-center{ href: "#", role: "button", data: { 'bs-toggle' => "dropdown" }, aria: { expanded: false } }
              %span.icon
                %i.fa-solid.fa-user
            %ul.dropdown-menu.dropdown-menu-end{ aria: { labelledby: "navbar-dropdown-menu-link" } }
              %li
                = link_to edit_user_registration_path, class: 'dropdown-item' do
                  %i.fas.fa-gear.me-2
                  = t('.edit_profile')
              %li
                = link_to '#', class: 'dropdown-item' do
                  %i.fas.fa-tractor.me-2
                  = t('.edit_stable')
              %li
                = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
                  = t('.logout')
        - else
          %form.d-flex.ms-2{ role: "login" }
            = link_to new_user_session_path, class: "btn btn-light" do
              %i.box-arrow-in-left.me-2
              %strong= t('.login')
          %form.d-flex.ms-2{ role: "join" }
            = link_to new_user_registration_path, class: "btn btn-outline-light" do
              %i.box-arrow-in-right.me-2
              %strong.text-light= t('.join')
