%header
  = render "layouts/sidenav"
  -# Navbar
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top#main-navbar
    -# Container
    .container-fluid
      -# Toggle button
      %button.navbar-toggler{ type: "button", data: { "bs-toggle" => "collapse", "bs-target" => "#sidebar-menu" },
        aria: { controls: "sidabar-menu", expanded: false, label: "Toggle navigation" } }
        %i.fa-solid.fa-bars#icon-show-sidenav
        %i.fa-solid.fa-xmark.d-none#icon-hide-sidenav
      -# Brand
      = link_to t(".game_title"), root_path, class: "navbar-brand", data: { turbo: false }

      -# Right links
      .navbar-nav.d-flex.flex-row
        %form.d-none.d-lg-block.d-flex{ role: "search" }
          %input.form-control.me-2{ type: "search", disabled: true, placeholder: t(".search_placeholder"),
            aria: { label: t(".search_aria_label") } }

        -# Avatar
        - if user_signed_in?
          = render "layouts/user_nav"
        - else
          .d-none.d-lg-flex
            %form.d-flex.ms-2{ role: "login" }
              = link_to new_user_session_path, class: "btn btn-light", data: { turbo: false } do
                %i.fas.fa-arrow-right-from-bracket.me-2
                %strong= t(".login")
            %form.d-flex.ms-2{ role: "join" }
              = link_to new_user_registration_path, class: "btn btn-outline-light", data: { turbo: false } do
                %i.fas.fa-user-plus.me-2
                %strong.text-light= t(".join")
