!!!
%html
  %head
    %title Final Furlong
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %script{ src: "https://kit.fontawesome.com/a2bbd059ad.js", crossorigin: "anonymous" }
      = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body.has-background-light
    %main.container
      %nav.breadcrumb{ aria: { label: "breadcrumbs" } }
        = yield
